#showcase {
  position: relative;
  background: url("https://source.unsplash.com/random/2560x1600");
  min-height: 400px;
}

#showcase .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 400px;
  background: rgba(0, 0, 0, 0.6);
}
